$light-pink:#FFF5F6;
$pink: #FFB8CA;
$dark-pink: #D41443;
$wite: #fff;
$yellow: #F0D1A5;
$green: #C2E297;
$black: #000;


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  cursor: url('../images/header_img/free-icon-cursor.png') 15 12, auto;
  border: none;
  font-family: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: url('../images/header_img/free-icon-cursor.png') 15 12, auto;
}

address {
  font-style: normal;
}

img {
  display: block;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $wite;
  cursor: url("../images/header_img/free-icon-cursor.png") 24 33, auto;
}
// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

// Mobil 
.container {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    // position: relative;
  }
  // 768 Tablet
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
};
// 1200 Dextop
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
};