.header {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header-container {
  position: relative;
  width: 100%;
  background-color: $wite;
  border: 1px solid $black;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;
}
.nav-list-part-2 {
  display: none;
}
.logo-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
 
}
.btn-bay-now {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .svg-open-menu {
    margin-left: auto;
    margin-right: 20px;
  }
}
// 768 Tablet
@media screen and (min-width: 768px) {
  .header-container {
    width: 90%;
  }
  .logo-img {
    position: absolute;
    left: 50;
  }
  .shopping-cart {
    display: block;
  }
  .btn-bay-now {
    display: block;
    margin-right: 30px;
    min-width: 100px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
  }
}
// 1200 Dextop
@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 50px;
  }
  .nav-list-part-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
  }
  .logo-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .svg-open-menu {
    display: none;
  }
  .btn-bay-now {
    margin-left: 30px;
    display: block;
    margin-left: 20px;
  }
}
