<header class="header">
    <div class="container"></div>
  <nav class="navigation">
    <a class="logo" href="./index.html"
    >Web<span class="studio-logo-header">Studio</span></a
  >
  <button type="button"></button>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">How it’s made?</a></li>
        <li><a href="#">Our products</a></li>
        <li><a href="#">Home</a></li>
    </ul>
</nav> 
</header>
<main class="main-content">
    
</main>

<footer>

</footer>
