.btn {
    min-width: 120px;
    min-height: 40px;
    border: none;
    font-family: inherit;

    // &:focus {
    //   color: $light-btn-color;
    //   border-color: $btn-dark-border-color;
    // }
    // &:hover {
    //   border-color: $btn-dark-border-color;
    //   color: $dark-btn-color;
    // }
  }